.section {
  padding: 10px 30px 10px 30px; }
  .section__h1 {
    margin-top: 100px;
    text-align: center; }
    @media only screen and (max-width: 640px) {
      .section__h1 {
        margin-top: -50px; } }
  .section__h2 {
    font-family: "Playfair Display", "Times New Roman", serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.5;
    color: #707070;
    letter-spacing: 1px; }
    .section__h2--contact {
      margin-top: 0px;
      font-size: 32px; }
      @media only screen and (max-width: 640px) {
        .section__h2--contact {
          display: none; } }
    .section__h2--text-pink {
      color: #F1B9CB; }
    .section__h2--title {
      font-size: 50px; }
    @media only screen and (max-width: 640px) {
      .section__h2 {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 36px; } }
  .section__h3 {
    text-align: center;
    font-family: "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: #707070;
    margin-bottom: 50px; }
    @media only screen and (max-width: 640px) {
      .section__h3 {
        font-size: 20px;
        margin-bottom: 30px; } }
  .section__p {
    text-align: center;
    font-family: "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #707070;
    margin-bottom: 90px; }
    @media only screen and (max-width: 640px) {
      .section__p {
        margin-bottom: 30px; } }

.footer {
  text-align: center;
  padding-bottom: 20px; }
  .footer__p {
    font-family: "Lora", "Helvetica", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    color: #F1B9CB; }

.nav {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }
  .nav__a {
    font-family: "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #F1B9CB;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px 40px; }
    @media screen and (max-width: 588px) {
      .nav__a {
        display: block;
        margin-bottom: 15px; } }

.cls-1 {
  fill: none; }

.catsvg {
  position: absolute;
  stroke: #000;
  stroke-dasharray: 141;
  stroke-dashoffset: 141;
  overflow: visible;
  top: 70px;
  left: 28px;
  height: 100px;
  width: 100px;
  animation: catsvg-anim 3s linear 0s forwards;
  transform: rotate(-20deg); }
  @media only screen and (max-width: 640px) {
    .catsvg {
      height: 50px;
      width: 50px;
      left: 19px; } }

@keyframes catsvg-anim {
  0% {
    stroke-dashoffset: 141px; }
  100% {
    stroke-dashoffset: 0px; } }

.intro {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "SVG-left main SVG-right";
  justify-items: center; }
  @media only screen and (max-width: 640px) {
    .intro {
      display: block;
      padding: 35px; } }
  .intro__container {
    grid-area: main;
    justify-items: center; }
  .intro__left {
    grid-area: SVG-left; }
    @media only screen and (max-width: 640px) {
      .intro__left {
        display: inline-block; } }
  .intro__img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: -10% 12%;
    box-shadow: 0px 4px 7px #0000004d;
    border-radius: 50%; }
  .intro__img:hover {
    opacity: 72%; }
  .intro__icons {
    display: flex;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6e4f5; }
    .intro__icons--img {
      margin-left: auto;
      padding: 20px 10px 20px 10px;
      height: 2.5em;
      width: 2.5em; }
      @media only screen and (max-width: 640px) {
        .intro__icons--img {
          padding: 15px 5px 15px 5px;
          height: 2em;
          width: 2em; } }
      .intro__icons--img:first-child {
        padding-left: 0px;
        padding-top: 15px;
        margin-left: 5px;
        height: 3.5em;
        width: 3.5em; }
        @media only screen and (max-width: 640px) {
          .intro__icons--img:first-child {
            height: 3em;
            width: 3em;
            padding-top: 10px; } }
      .intro__icons--img:last-child {
        margin-right: 0px; }

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 1.5em;
  justify-items: center;
  z-index: -1; }
  @media only screen and (min-width: 640px) and (max-width: 980px) {
    .projects {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto; } }
  @media only screen and (max-width: 640px) {
    .projects {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto; } }
  .projects__card {
    background-color: #fff;
    text-align: center;
    padding: 10px 10px;
    width: 80%;
    min-height: 500px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15); }
    @media only screen and (max-width: 640px) {
      .projects__card {
        width: 90%; } }
  .projects__img {
    background: #c5c5c5;
    width: 100%;
    height: 200px; }
  .projects__p {
    font-family: "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #707070;
    padding: 5px 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; }

.contact__icons {
  display: flex;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6e4f5; }
  .contact__icons--img {
    margin-left: auto;
    padding: 10px 5px 10px 5px;
    height: 2em;
    width: 2em; }
    .contact__icons--img:first-child {
      padding-left: 0px;
      padding-top: 5px;
      margin-left: 0px;
      height: 3em;
      width: 3em; }
    .contact__icons--img:last-child {
      margin-right: 0px; }
  @media only screen and (max-width: 640px) {
    .contact__icons {
      display: none; } }

.contact-container {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  grid-column-gap: 20px; }
  @media only screen and (max-width: 640px) {
    .contact-container {
      grid-template-columns: 1fr; } }

.contact-container-form {
  width: 80%; }
  @media only screen and (max-width: 640px) {
    .contact-container-form {
      margin-top: 40px; } }

.form__label {
  display: block;
  padding-top: 25px;
  font-size: 15px;
  font-family: "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #F1B9CB;
  margin: 0;
  opacity: 1;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity; }
  .form__label:first-child {
    padding-top: 0px; }

.form__input-field {
  width: 80%;
  padding-top: 10px;
  display: block;
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
  resize: none; }
  .form__input-field:focus {
    box-shadow: none;
    border-color: #F1B9CB; }
  .form__input-field:hover {
    box-shadow: none;
    border-color: #F1B9CB; }
  .form__input-field--textarea {
    height: 60px; }
  @media only screen and (max-width: 640px) {
    .form__input-field {
      width: 100%; } }

.form__button {
  width: 82%;
  background: 0 0 #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-family: "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: inherit;
  margin: 30px 0;
  padding: 10px 50px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s; }
  .form__button:hover {
    border-color: #F1B9CB;
    color: #F1B9CB; }
  .form__button:active {
    border-color: #F1B9CB;
    color: #F1B9CB; }
  .form__button:focus {
    border-color: #F1B9CB;
    color: #F1B9CB; }
  @media only screen and (max-width: 640px) {
    .form__button {
      width: 100%; } }
