// @use './variables';

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

.section {
    padding: 10px 30px 10px 30px;

    &__h2 {
        font-family: $font-stack-header;
        font-size: $h2-size;
        font-weight: $font-bold;
        line-height: 1.5;
        color: $main-copy-color;
    }
}