@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

.section {
    padding: 10px 30px 10px 30px;

    &__h1 {
        margin-top: 100px;
        text-align: center;

        @media only screen and (max-width: 640px) {
            margin-top: -50px;
         }
    }

    
    &__h2  {
        font-family: $font-stack-header;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: $h2-size;
        font-weight: $font-bold;
        line-height: 1.5;
        color: $main-copy-color;
        letter-spacing: 1px;

        &--contact {
            margin-top: 0px;
            font-size: 32px;

            @media only screen and (max-width: 640px) {
                display: none;
            }
        }

        &--text-pink {
            color: $text-highlight-pink;
        }

        &--title {
            font-size: 50px;
        } 

        @media only screen and (max-width: 640px) {
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: $mob-h2-size;
         }
    }



    &__h3 {
        text-align: center;
        font-family: $font-stack-p;
        font-size: $h3-size;
        font-weight: $font-regular;
        line-height: 1.2;
        color: $main-copy-color;
        margin-bottom: 50px;

        @media only screen and (max-width: 640px) {
           font-size: $mob-h3-size;
           margin-bottom: 30px;
        }
    }

    &__p {
        text-align: center;
        font-family: $font-stack-p;
        font-size: $p-copy-size;
        color: $main-copy-color;
        margin-bottom: 90px;

        @media only screen and (max-width: 640px) {
            margin-bottom: 30px;
         }
    }
}

.footer {
    text-align: center;
    padding-bottom: 20px;

    &__p {
        font-family: $font-stack-main;
        font-size: $p-copy-size;
        font-weight: $font-bold;
        line-height: 1.2;
        color: $darker-pink;
    }
}

.nav {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

    &__a {
        font-family: $font-stack-p;
        font-size: $nav-text-size;
        font-weight: $font-bold;
        color: $darker-pink;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0px 40px;

        @media screen and (max-width: 588px) {
        display: block;
        margin-bottom: 15px;
        }
    }

    
}