.cat-fill {
  fill: none;
}

.catsvg {
  position: absolute;
  stroke: #000;
  stroke-dasharray: 141;
  stroke-dashoffset: 141;
  overflow: visible;
  top: random(250) + px;
  left: random(100) + px;
  height: 100px;
  width: 100px;
  animation: catsvg-anim 3s linear 0s forwards;
  transform: rotate(-20deg);

  @media only screen and (max-width: 640px) {
    height: 50px;
    width: 50px;
    left: random(30) + px;
  }
}

@keyframes catsvg-anim {
  0% {
    stroke-dashoffset: 141px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
