.cls-1 {
  fill: none;
}

.catsvg {
  position: absolute;
  stroke: #000;
  stroke-dasharray: 141;
  stroke-dashoffset: 141;
  overflow: visible;
  top: random(250) + px;
  left: random(130) + px;
  height: 100px;
  width: 100px;
  animation: catsvg-anim 3s linear 0s forwards;
  transform: rotate(-20deg)
}

@keyframes catsvg-anim {
  0% {
    stroke-dashoffset: 141px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
