//cat SVG
.cat-fill {
  fill: none;
}

.catsvg {
  position: absolute;
  stroke: #000;
  stroke-dasharray: 141;
  stroke-dashoffset: 141;
  overflow: visible;
  height: 100px;
  width: 100px;
  animation: catsvg-anim 3s linear 0s forwards;
  transform: rotate(-20deg);

  @media only screen and (max-width: 640px) {
    height: 50px;
    width: 50px;
    left: inherit - 50px;
  }

  &__left {
    //top values up to 35vh
    //left values up to 30vw
  }
}

@keyframes catsvg-anim {
  0% {
    stroke-dashoffset: 141px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

//flowers SVG
.flowers-fill {
  fill: none;
}

.flowers {
  position: absolute;
  stroke: #000;
  stroke-dasharray: 492;
  stroke-dashoffset: 492;
  overflow: visible;
  height: 100px;
  width: 100px;
  animation: flowers-anim 3s linear 1.5s forwards;
  transform: scaleX(-1);
  transform: rotate(-10deg);

  @media only screen and (max-width: 640px) {
    height: 50px;
    width: 50px;
    left: inherit - 50px;
  }

  &__left {
    //top values up to 35vh
    //left values up to 30vw
  }
}

@keyframes flowers-anim {
  0% {
    stroke-dashoffset: 492px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
