//colours
$icons-highlight: rgba(246, 228, 245, 1);
$icons-purple: rgb(250, 182, 247);
$nav-hover-pink: #ffd9e5;

//text colours
$main-copy-color: #707070;
$gray-blue: #9197ae;
$text-white: #fff;
$text-highlight-pink: #f1b9cb;
$text-highlight-purple: #e8acec;
$text-highlight-header-pink: #fcdbfd;
$darker-pink: #f1b9cb;

//text sizing
$nav-text-size: 24px;
$mob-nav-text-size: 22px;

$h2-size: 46px;
$mob-h2-size: 36px;

$h3-size: 24px;
$mob-h3-size: 20px;

$section-header-size: 32px;
$mob-section-header: 26px;

$project-copy-size: 16px;
$mob-project-copy-size: 14px;

$p-copy-size: 16px;
$mob-copy-size: 14px;

$button-text-size: 24px;
$mb-button-text-size: 22px;

//fonts
$font-stack-header: "Amatic SC", cursive;
$font-stack-main: "Josefin Sans", sans-serif;

$font-bold: 700;
$font-regular: 400;
