//colours
$text-highlight-pink: #F1B9CB;
$text-highlight-purple: #E8ACEC;
$text-highlight-header-pink: #FCDBFD;
$icons-highlight: #EFCFED46; //rgba(239, 207, 237, 0.27)
$darker-pink: #F1B9CB;

//text colours
$main-copy: #707070;


