body {
  background-color: red;
  border: yellow; }

.section {
  padding: 10px 30px 10px 30px;
  background-color: red; }
  .section__h2 {
    font-family: "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 34px;
    line-height: 1.5;
    color: #707070; }
